# SPDX-License-Identifier: MIT
# (c) 2019 The TJHSST Director 4.0 Development Team & Contributors

# vim: ft=python
# You are free to customize this file, but do not remove this import!
from .secret_dev import *
