[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "~=2.3.2"
black = "~=26.1.0"
coverage = "~=7.13.2"
flake8 = "~=7.3.0"
isort = "~=7.0.0"
mypy = "~=1.19.1"
pylint = "~=4.0.4"

[packages]
asyncssh = "~=2.15.0"
websockets = "~=16.0"
