[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "~=2.3"
black = "~=24.4"
coverage = "~=7.5"
flake8 = "~=7.1"
isort = "~=5.13"
mypy = "~=1.10"
pylint = "~=3.2"

[packages]
asyncssh = "~=2.5.0"
websockets = "~=8.1"

[requires]
python_version = "3.11"
