{% extends "base.html" %}
{% load staticfiles %}

{% block titlesuffix %} - {{ site.name }}{% endblock %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'vendor/xterm-4.6.0/xterm.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'vendor/xterm-4.6.0/xterm.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/xterm-addon-fit-0.4.0/xterm-addon-fit.js' %}"></script>

    <script src="{% static 'vendor/ace-1.4.11/ace.js' %}"></script>
    <script src="{% static 'vendor/ace-1.4.11/ext-modelist.js' %}"></script>
    <script src="{% static 'vendor/ace-1.4.11/ext-language_tools.js' %}"></script>

    <script src="{% static 'vendor/golden-layout-1.5.9/goldenlayout.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/golden-layout-1.5.9/goldenlayout-base.css' %}">
    <link rel="stylesheet" id="goldenlayout-light-theme" href="{% static 'vendor/golden-layout-1.5.9/goldenlayout-light-theme.css' %}">
    <link rel="stylesheet" id="goldenlayout-dark-theme" href="{% static 'vendor/golden-layout-1.5.9/goldenlayout-dark-theme.css' %}" disabled>

    <link rel="stylesheet" href="{% static 'vendor/highlight.js-10.0.3/styles/default.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/jquery-contextmenu-2.9.2/jquery.contextMenu.min.css' %}">
    <script src="{% static 'vendor/jquery-contextmenu-2.9.2/jquery.ui.position.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-contextmenu-2.9.2/jquery.contextMenu.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/terminal.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/terminal.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/database-shell.css' %}">
    <script src="{% static 'js/database-shell.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/site-editor/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site-editor/files-pane.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site-editor/file.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site-editor/settings.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site-editor/dbshell.css' %}" />

    <script type="text/javascript" src="{% static 'js/site-editor/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site-editor/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site-editor/files-pane.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site-editor/logs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site-editor/file.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site-editor/settings.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/site-status-notifier.js' %}"></script>

    <script type="text/javascript">
        var user_name = "{{ request.user.username }}";
        var site_name = "{{ site.name }}";
        var site_id = {{ site.id }};

        var site_info = {
            has_database: {{ site.has_database|yesno:"true,false" }},
        };

        var file_endpoints = {
            "get": "{% url 'sites:get_file' site.id %}",
            "write": "{% url 'sites:write_file' site.id %}",
            "create": "{% url 'sites:create_file' site.id %}",
            "remove": "{% url 'sites:remove_file' site.id %}",
            "rmdir_recur": "{% url 'sites:remove_directory_recur' site.id %}",
            "mkdir": "{% url 'sites:mkdir' site.id %}",
            "chmod": "{% url 'sites:chmod' site.id %}",
            "rename": "{% url 'sites:rename' site.id %}",
            "download_zip": "{% url 'sites:download_zip' site.id %}",
        };

        var restart_endpoint = "{% url 'sites:restart_service_raw' site.id %}";

        var db_shell_endpoint = "{% url 'sites:database_shell' site.id %}";

        var ws_endpoints = {
            "terminal": location.protocol.replace("http", "ws") + "//" + location.host + "/sites/{{ site.id }}/terminal/",
            "file_monitor": location.protocol.replace("http", "ws") + "//" + location.host + "/sites/{{ site.id }}/files/monitor/",
            "site_logs": location.protocol.replace("http", "ws") + "//" + location.host + "/sites/{{ site.id }}/logs/",
        };
    </script>

    <style>
        .sql-console-wrapper {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="editor-container"></div>
    <div id="database-shell-template" style="display: none">
        {% if site.has_database %}
        {% include "sites/databases/shell_embed.html" %}
        {% endif %}
    </div>
{% endblock %}
