{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'vendor/xterm-4.4.0/xterm.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'vendor/xterm-4.4.0/xterm.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/xterm-4.4.0/xterm-addon-fit.js' %}"></script>

    <script src="{% static 'vendor/ace-1.4.8/ace.js' %}"></script>
    <script src="{% static 'vendor/ace-1.4.8/ext-modelist.js' %}"></script>
    <script src="{% static 'vendor/ace-1.4.8/ext-language_tools.js' %}"></script>

    <script src="{% static 'vendor/golden-layout-1.5.9/goldenlayout.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/golden-layout-1.5.9/goldenlayout-base.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/golden-layout-1.5.9/goldenlayout-light-theme.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/highlight-js-9.18.1/styles/default.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/jQuery-contextMenu-2.9.0/jquery.contextMenu.min.css' %}">
    <script src="{% static 'vendor/jQuery-contextMenu-2.9.0/jquery.ui.position.min.js' %}"></script>
    <script src="{% static 'vendor/jQuery-contextMenu-2.9.0/jquery.contextMenu.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/terminal.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/terminal.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/site-editor/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site-editor/files-pane.css' %}" />

    <script type="text/javascript" src="{% static 'js/site-editor/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site-editor/files-pane.js' %}"></script>

    <script type="text/javascript">
        var user_name = "{{ request.user.username }}";
        var site_name = "{{ site.name }}";

        var file_endpoints = {
            "get": "{% url 'sites:get_file' site.id %}",
            "write": "{% url 'sites:write_file' site.id %}",
            "remove": "{% url 'sites:remove_file' site.id %}",
            "rmdir_recur": "{% url 'sites:remove_directory_recur' site.id %}",
            "mkdir": "{% url 'sites:mkdir' site.id %}",
            "chmod": "{% url 'sites:chmod' site.id %}",
            "rename": "{% url 'sites:rename' site.id %}",
        };

        var ws_endpoints = {
            "terminal": location.protocol.replace("http", "ws") + "//" + location.host + "/sites/{{ site.id }}/terminal/",
            "file_monitor": location.protocol.replace("http", "ws") + "//" + location.host + "/sites/{{ site.id }}/files/monitor/",
        };
    </script>
{% endblock %}

{% block main %}
    <div id="editor-container"></div>
{% endblock %}
