{% extends "base.html" %}
{% load static %}

{% block titlesuffix %} - Configure {{ site.name }}{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_users").selectize();
        });
    </script>
{% endblock %}

{% block main %}
    {% if names_form %}
        {% url 'sites:edit_names' site.id as names_form_url %}
        {% with form=names_form form_submit_text="Save" form_action=names_form_url %}
            {% include "table_form_header.html" %}
            {% include "table_form_rows.html" %}

            {% include "table_form_row.html" with form_item="<h4>Custom domains</h4>" %}
            {{ domains_formset.management_form }}
            {% for formset_form in domains_formset %}
                {% for formset_field in formset_form %}
                    {% include "table_form_row.html" with form_field=formset_field form_field_delete_btn=True form_field_extra_classes="custom-domain" only %}
                {% endfor %}
            {% endfor %}
            <button type="button" class="btn btn-ion" onclick="$('.custom-domain').last().clone().insertBefore(this).find('input').val('');">
                <i class="fas fa-plus"></i>
                Add another
            </button>

            {% include "table_form_footer.html" %}
        {% endwith %}
    {% endif %}

    {% if names_form and meta_form %}
        <hr>
    {% endif %}

    {% if meta_form %}
        {% url 'sites:edit_meta' site.id as meta_form_url %}
        {% include "table_form.html" with form=meta_form form_submit_text="Save" form_action=meta_form_url %}
    {% endif %}

    {% if meta_form and type_form %}
        <hr>
    {% endif %}

    {% if type_form %}
        {% url 'sites:edit_type' site.id as type_form_url %}
        {% include "table_form.html" with form=type_form form_submit_text="Save" form_action=type_form_url %}
    {% endif %}
{% endblock %}
