{% extends "base.html" %}
{% load staticfiles %}

{% block titlesuffix %} - {{ site.name }}{% endblock %}

{% block head %}
    <script>
        var images = JSON.parse("{{ image_json|escapejs }}");
        $(function() {
            var run_sh_explanation = $("<p>").text("For reference, here's the run.sh we're going to write:").appendTo($("#id_write_run_sh_file").closest(".tbl-cell"));
            var run_sh_pre = $("<pre>").appendTo($("<code>").appendTo($("#id_write_run_sh_file").closest(".tbl-cell")));

            function updateRunSh() {
                var has_run_sh = $("input[name='image']:checked").closest(".image-radio-container").hasClass("has-run-script-template");
                $("#id_write_run_sh_file").prop("disabled", !has_run_sh);

                var selected_image = $("input[name='image']:checked").val();
                if(selected_image) {
                    run_sh_pre.text(images[selected_image].run_script_template);
                }

                if(has_run_sh) {
                    run_sh_explanation.show();
                }
                else {
                    run_sh_explanation.hide();
                }
            }

            updateRunSh();
            $("input[name='image']").change(updateRunSh);
        });
    </script>

    <style>
        div.image-subwidget-container {
            margin-bottom: 5px;
        }

        div.image-subwidget-container label {
            margin-bottom: 0;

            font-weight: bold;
        }

        div.image-subwidget-container .logo {
            width: 50px;
            height: 50px;
            margin-left: 20px;
        }

        div.image-subwidget-container.has-description .logo {
            float: right;
            width: 100px;
            height: 100px;
        }

        .has-run-script-template label::after {
            color: gray;
            content: "Has run.sh template";
            padding-left: 5px;
            font-style: italic;
        }
    </style>
{% endblock %}

{% block main %}
    {% include "table_form_header.html" with form=form form_submit_text="Save image" %}

    {% with field=form.image %}
    <div class="tbl-row">
        <span class="tbl-cell" style="vertical-align:top;padding:6px 5px 0px 0px; min-width: 150px">{{ field.label_tag }}</span>
        <div class="tbl-cell" style="padding-bottom:5px;padding-top:6px;">
            {% for subwidget, image_data in image_subwidgets_and_data %}
            <div class="image-subwidget-container{% if image_data.description %} has-description{% endif %}">
                <div class="image-radio-container {% if image_data.has_run_sh_template %} has-run-script-template{% endif %}">
                    {{ subwidget }}
                </div>
                {% if image_data.logo_url %}
                    <img src="{{ image_data.logo_url }}" alt="" class="logo">
                {% endif %}
                {% if image_data.description %}
                <div style="margin-left: 1.1em">{{ image_data.description|linebreaks }}</div>
                {% endif %}
            </div>
            {% endfor %}
            {{ field.errors }}
            {% if field.help_text %}<br>{{ field.help_text }}{% endif %}
        </div>
    </div>
    {% endwith %}

    {% for field in form %}
    {% if field.name != "image" %}
    {% include "table_form_row.html" with form_field=field %}
    {% endif %}
    {% endfor %}

    {% include "table_form_footer.html" with form=form form_submit_text="Save image" %}
{% endblock %}
