{% extends "base.html" %}
{% load static %}

{% block titlesuffix %} - {{ site.name }}{% endblock %}

{% block head %}
    <script>
        var images = JSON.parse("{{ image_json|escapejs }}");
        $(function() {
            var run_sh_explanation = $("<p>").text("For reference, here's the run.sh we're going to write:").appendTo($("#id_write_run_sh_file").closest(".tbl-cell"));
            var run_sh_pre = $("<pre>").appendTo($("<code>").appendTo($("#id_write_run_sh_file").closest(".tbl-cell")));

            function updateRunSh() {
                var has_run_sh = $("input[name='image']:checked").closest(".image").hasClass("has-run-script-template");
                $("#id_write_run_sh_file").prop("disabled", !has_run_sh);

                var selected_image = $("input[name='image']:checked").val();
                if(selected_image) {
                    run_sh_pre.text(images[selected_image].run_script_template);
                }

                if(has_run_sh) {
                    run_sh_explanation.show();
                }
                else {
                    run_sh_explanation.hide();
                }
            }

            updateRunSh();
            $("input[name='image']").change(updateRunSh);
        });
    </script>

    <style>
        .image-container {
            padding: 10px;
            margin: 0;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image {
            margin: 0 auto;
            padding: 10px;

            height: 100%;
            width: 100%;
            max-width: 500px;
            min-width: 200px;
            min-height: 150px;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            text-align: center;

            background-color: white;
        }

        .image .name {
            font-weight: bold;
        }

        .image .logo {
            max-width: 100px;
            max-height: 100px;
            width: auto;
            height: auto;
            min-width: 70px;
        }

        .image.has-run-script-template div.name-container::after {
            color: gray;
            font-style: italic;
            content: "\AHas run.sh template";
            white-space: pre-wrap;
        }

        .image .description p:not(:first-child):not(.show):not(.collapsing) {
            display: none;
        }

        .image .description p {
            margin-bottom: .5rem;
        }
        .image .description p:last-child {
            margin-bottom: 0;
        }

        .image .collapse-button {
            font-size: 80%;

            border-radius: 4px;
            border: none;
            padding: 4px 6px;

            background-color: transparent;
            color: gray;
        }

        .image .collapse-button::before {
            content: "Collapse";
        }
        .image .collapse-button.collapsed::before {
            content: "Expand";
        }
    </style>
{% endblock %}

{% block main %}
    {% if override_failed_operation %}
        <p><strong>Building the Docker image has failed.</strong> This may be due to incorrect package names; please check your spelling and try again.</p>
    {% endif %}

    {% include "table_form_header.html" with form=form form_submit_text="Save image" %}

    </div>

    {% with field=form.image %}
    {{ field.errors }}
    <div class="row m-0">
        {% for subwidget, image in image_subwidgets_and_objs %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 image-container">
            <label for="id_image_{{ subwidget.data.index }}" class="image{% if image.description %} has-description{% endif %}{% if image.run_script_template %} has-run-script-template{% endif %}" id="image-{{ subwidget.data.index }}">
                <div class="name-container">{{ subwidget.tag }} <span class="name">{{ image.friendly_name }}</span></div>
                {% if image.logo_url %}
                    <img src="{{ image.logo_url }}" alt="" class="logo"><br>
                {% endif %}
                {% if image.description %}
                <div class="description">{{ image.description|linebreaks }}</div>
                <button class="collapse-button collapsed" type="button" data-toggle="collapse" data-target="#image-{{ subwidget.data.index }} .description p:not(:first-child)">
                </button>
                {% endif %}
            </label>
        </div>
        {% endfor %}
    </div>
    {% endwith %}

    <div class="tbl">
    {% for field in form %}
    {% if field.name != "image" %}
    {% include "table_form_row.html" with form_field=field %}
    {% endif %}
    {% endfor %}

    {% include "table_form_footer.html" with form=form form_submit_text="Save image" %}
{% endblock %}
