{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <style>
        @media (max-width: 576px) {
            .search-box {
                width: 100%;
                margin: 0;
                border-radius: 0px;
                border-left: none;
                border-right: none;
                position: absolute;
                left: 0;
                top: 45px;
            }
            .navbar {
                padding-bottom: 40px;
            }
        }
    </style>
{% endblock %}

{% block navbar %}
<input class="search-box" data-search="#sites .site" data-fields=".name,.desc,.type" type="text" placeholder="&#xf002; Search Sites">
{% endblock %}

{% block main %}
{% endblock %}
