{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <style>
        @media (max-width: 576px) {
            .search-box {
                width: 100%;
                margin: 0;
                border-radius: 0px;
                border-left: none;
                border-right: none;
                position: absolute;
                left: 0;
                top: 45px;
            }
            .navbar {
                padding-bottom: 40px;
            }
        }

        #content {
            padding: 0;
        }
    </style>
{% endblock %}

{% block navbar %}
<input class="search-box" data-search="#sites .site" data-fields=".name,.desc,.type" type="text" placeholder="&#xf002; Search Sites">
{% endblock %}

{% block main %}
    <div class="subheading clearfix">
        <h3 class="float-left d-none d-sm-block">{% if show_all %}All{% else %}Your{% endif %} Sites</h3>
        {% if show_all %}
            <a href="{% url 'auth:index' %}" class="float-right btn btn-ion" style="margin-right:5px"><i class="far fa-star"></i> Hide All</a>
        {% else %}
            <a href="{% url 'auth:index' %}?all=1" class="float-right btn btn-ion" style="margin-right:5px"><i class="fas fa-star"></i> Show All</a>
        {% endif %}
    </div>
{% endblock %}
