{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
    <form method="POST">
        {% csrf_token %}
        <div class="tbl" style="padding-bottom: 10px">
            {% for field in form %}
            <div class="tbl-row">
                <span class="tbl-cell" style="vertical-align:baseline;padding-right:5px;">{{ field.label_tag }}</span>
                <span class="tbl-cell"{% if field.help_text %} style="padding-bottom:5px"{% endif %}>{{ field }}{% if field.help_text %}<br>{{ field.help_text }}{% endif %}</span>
            </div>
            {% endfor %}
        </div>
        <input type="submit" value="Rename site" class="btn btn-ion">
    </form>
{% endblock %}
