{% extends "base.html" %}
{% load staticfiles %}

{% block titlesuffix %} - Terminal{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/xterm-4.4.0/xterm.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'vendor/xterm-4.4.0/xterm.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/xterm-addon-fit-0.3.0/xterm-addon-fit.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/terminal.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/terminal.js' %}"></script>

    <style>
    body {
        overflow-y: hidden;
    }
    #content {
        padding: 0;
        background-color: black;
        padding-right: 0;
    }
    .console-wrapper {
        width: 100%;
        height: 100%;
        height: calc(100vh - 40px);
        padding-left: 5px;
        padding-top: 5px;
        overflow-y: hidden;
    }
    #command-info {
        display: none;
        background-color: white;
        color: black;
        padding: 5px;
        text-align: center;
    }
    #command-info b {
        font-family: monospace;
    }
    </style>

    <script>
    $(document).ready(function() {
        setupTerminal(
            location.protocol.replace(/^http/, "ws") + location.host +  "{% url 'sites:terminal' site.id %}",
            $("#console"),
            {
                autoFocus: true,
            },
        );
    });
    </script>
{% endblock %}

{% block main %}
<div id="console" tabindex="0"></div>
{% endblock %}
