[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.8.2"
pylint = "~=2.5.2"
isort = "~=4.3.21"
black = "==19.10b0"
typed-ast = "~=1.4.1"  # Required by black, but Pipenv doesn't pull it in correctly on 3.8
autopep8 = "~=1.5.3"
pylint-django = "~=2.0.15"
mypy = "~=0.770"
django-stubs = "~=1.5.0"

[packages]
django = "~=2.2.13"
social-auth-app-django = "~=3.4.0"
psycopg2 = "~=2.8.5"
ipython = "~=7.15.0"
django-extensions = "~=2.2.9"
channels = "~=2.4.0"
daphne = "~=2.5.0"
celery = "~=4.4.4"
channels-redis = "~=2.4.2"
importlib-metadata = {version = "~=1.6.1",markers = "python_version < '3.8'"}
websockets = "~=8.1"
django-redis-cache = "~=2.1.1"
markdown = "~=3.2.2"
bleach = "~=3.1.5"
redis = "~=3.5.3"
pycryptodome = "~=3.9.7"
