[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.7.9"
pylint = "~=2.4.4"
isort = "~=4.3.21"
black = "~=19.10b0"
autopep8 = "~=1.4.4"
pylint-django = "~=2.0.13"
mypy = "~=0.740"
django-stubs = "~=1.2.0"

[packages]
django = "~=2.2.8"
social-auth-app-django = "~=3.1.0"
psycopg2 = "~=2.8.4"
ipython = "~=7.9.0"
django-extensions = "~=2.2.5"
channels = "~=2.3.1"
daphne = "~=2.3.0"
celery = "~=4.3.0"
channels-redis = "~=2.4.1"

[pipenv]
allow_prereleases = true
