{% extends "base.html" %}
{% load static %}

{% block titlesuffix %} - Database shell for {{ site.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/database-shell.css' %}">
    <script src="{% static 'js/database-shell.js' %}"></script>

    <script>
        $(function() {
            setupSQLConsole("{% url 'sites:database_shell' site.id %}", $(".sql-console-wrapper"));
        });
    </script>

    <style>
        #content {
            padding: 0;
        }

        .sql-console-wrapper {
            width: 100%;
            height: calc(100vh - 40px);
        }
    </style>
{% endblock %}

{% block main %}
    {% include "sites/databases/shell_embed.html" %}
{% endblock %}
