{% extends "base.html" %}
{% load staticfiles %}

{% block titlesuffix %} - Database shell for {{ site.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/database-shell.css' %}">
    <script src="{% static 'js/database-shell.js' %}"></script>

    <script>
        $(function() {
            setupSQLConsole("{% url 'sites:database_shell' site.id %}", $(".sql-console-wrapper"));
        });
    </script>
{% endblock %}

{% block main %}
    {% include "sites/databases/shell_embed.html" %}
{% endblock %}
