.files-pane {
    overflow-x: auto;
}

.files-pane.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.files-pane .root-drop-container {
    height: 100vh;
}

.files-pane .type-folder > .info-row {
}

.files-pane .type-file > .info-row {
}

.files-pane .type-link > .info-row {
    color: #44F;
}

.files-pane .type-special > .info-row {
    color: blue;
}

.files-pane .type-file.executable > .info-row {
    color: green;
}

.files-pane .info-row {
    cursor: pointer;
    white-space: nowrap;
    margin-left: -10000px;
    padding-left: 10005px;
    min-width: calc(10000px + 100%);
    width: fit-content;
}

.files-pane .hidden > .info-row {
    opacity: 60%;
}

.files-pane .dragover {
    background-color: #ddd;
    border: 1px solid #888;
}

.files-pane .info-row:hover {
    background-color: #d8d8d8;
}

.files-pane .info-row:focus {
    background-color: gray;
}

.files-pane .item-name {
    padding-left: 5px;
}

.files-pane .item-dest::before {
    content: " -> ";
}

.files-pane .type-folder .children {
    margin-left: 15px;
}
.files-pane > .children {
    margin-left: -2px;
}

.files-pane .type-folder:not(.open) > .children {
    display: none;
}

/* If we don't do this, the layout resize bar has a higher z-index and it shows up on top */
.context-menu-list {
    z-index: 9999 !important;
    /*border-radius: 0;*/
}
#context-menu-layer {
    z-index: 9998 !important;
}
