#content {
    padding: 40px 0px 0px 0px;
}
@media (max-width:575px) {
    .search-form {
        width: 100%;
        margin: 0;
        border-left: none;
        border-right: none;
    }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#sites .site {
    color: #484848;
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}
#sites .site .tag {
    margin-left: 5px;
}
#sites .site .project {
    color: #00a;
}
#sites .site:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.site .sub {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
#sites .site .icon {
    padding: 8px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
}
#sites .site .icon span.site-status {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    position: absolute;
    bottom: 6px;
    right: 2px;
}
#sites .site .icon span.status-yellow {
    background-color: #FFEB3B;
}
#sites .site .icon span.status-red {
    background-color: #F44336;
}
#sites .site .icon span.status-green {
    background-color: #4CAF50;
}

.search-form {
    background-color: rgba(255, 255, 255, 0.1);
}

.search-input {
    width: 100%;

    border: none;
}

.search-button {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}

#empty {
    padding: 10px;
}
