#database-url {
    white-space: nowrap;
    overflow-x: auto;
    background-color: white;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: initial;
}
#database-pass.hide {
    position: relative;
}
#database-pass.hide > span {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    cursor: pointer;
    min-width: 120px;
    display: inline-block;
    text-align: center;
}
#database-pass.hide:after {
    position: absolute;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    margin-top: 2px;
    text-align: center;
    font-size: 11.5px;
    padding: 1px;
    outline: 1px solid black;
    background: white;
    cursor: pointer;
    content: "Click to show password";
}

#operation-info {
    width: 30%;
    padding: 0px 10px;
}

#operation-info .action.succeeded {
    font-size: 70%;
}
#operation-info .action.failed {
    font-size: 70%;
    color: red;
}
#operation-info .action.started {
    font-weight: bold;
    font-size: 80%;
}
#operation-info .action.pending {
    font-style: italic;
    font-size: 70%;
}
