[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.7.9"
pylint = "~=2.4.4"
isort = "~=4.3.21"
black = "~=19.10b0"
autopep8 = "~=1.4.4"
mypy = "~=0.740"

[packages]
flask = "~=1.1.1"
docker = "~=4.1.0"

[pipenv]
allow_prereleases = true
