[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "~=2.3.2"
black = "~=26.1.0"
coverage = "~=7.13.2"
flake8 = "~=7.3.0"
isort = "~=7.0.0"
mypy = "~=1.19.1"
pylint = "~=4.0.4"

[packages]
docker = "~=7.1.0"
flask = "~=3.1.2"
markupsafe = "~=3.0.3"
gunicorn = "~=25.0.1"
mysqlclient = "~=2.2.7"
psycopg2 = "~=2.9.11"
pycryptodome = "~=3.23.0"
websockets = "~=16.0"
