{% extends "base.html" %}
{% load staticfiles %}

{% block titlesuffix %} - Sites with Custom Resource Limits{% endblock %}

{% block main %}
    <h1> Sites with Custom Resource Limits</h1>

    <ul>
    {% for site in custom_limit_sites %}
        <li>
            <a href="{% url 'sites:info' site.id %}">{{ site.name }}</a>: {{ site.resource_limits.stringify_limits }}
            (<a href="{% url 'sites:resource_limits' site.id %}?next={% url 'sites:custom_resource_limits_list' %}">Edit resource limits</a>)
            {% if site.resource_limits.notes %}
            <ul>
                <li>{{ site.resource_limits.notes }}</li>
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
