# vim: ft=python
# You are free to customize this file, but do not remove this import!
from .secret_dev import *

SECRET_KEY = '&O>7r+^jde3ci!!2sZ]Eg)ZT}xJj8VBo,Mi4{CM]}g3r^#QF:"'
# django.core.management.utils.get_random_secret_key()

SOCIAL_AUTH_ION_KEY = ""
SOCIAL_AUTH_ION_SECRET = ""
