# vim: ft=python
# You are free to customize this file, but do not remove this import!
from .secret_dev import *

SECRET_KEY = '&O>7r+^jde3ci!!2sZ]Eg)ZT}xJj8VBo,Mi4{CM]}g3r^#QF:"'
#''.join(random.SystemRandom().choice(string.ascii_letters + string.digits + string.punctuation) for _ in range(50))

SOCIAL_AUTH_ION_KEY = ""
SOCIAL_AUTH_ION_SECRET = ""
