{% extends "base.html" %}
{% load static %}

{% block titlesuffix %} - Image management{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'vendor/highlight.js-10.0.3/styles/default.css' %}">
    <script src="{% static 'vendor/highlight.js-10.0.3/highlight.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <style>
        .image .friendly-name {
            font-weight: bold;
        }

        .image .name {
        }

        .image:not(.visible) {
            opacity: 60%;
        }

        #setup-commands th, #setup-commands td {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block main %}
    <h1>Image management</h1>

    <h3>Images</h3>

    <ul id="images">
        {% for image in images %}
        <li class="image{% if image.is_user_visible %} visible{% endif %}">
            <span class="friendly-name">{{ image.friendly_name }}</span>
            <span class="name">({{ image.name }})</span>
            <a class="edit" href="{% url 'sites:image_mgmt:edit' image.id %}"><i class="fas fa-sm fa-pencil-alt"></i></a>
            <a class="delete danger" href="{% url 'sites:image_mgmt:delete' image.id %}"><i class="far fa-sm fa-trash-alt"></i></a>
        </li>
        {% endfor %}
    </ul>

    <p><a class="btn btn-ion" href="{% url 'sites:image_mgmt:create' %}"><i class="fas fa-plus"></i> Add image</a></p>

    <h3>Setup commands</h3>

    <table id="setup-commands" class="has-border">
        <tr>
            <th>Name</th>
            <th>Command</th>
            <th>&nbsp;</th>
        </tr>
        {% for setup_command in setup_commands %}
        <tr>
            <td>{{ setup_command.name }}</td>
            <td><code>{{ setup_command.command }}</code></td>
            <td style="min-width: 45px">
                <a class="edit" href="{% url 'sites:image_mgmt:setup_command_edit' setup_command.id %}"><i class="fas fa-sm fa-pencil-alt"></i></a>
                <a class="delete danger" href="{% url 'sites:image_mgmt:setup_command_delete' setup_command.id %}"><i class="far fa-sm fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><a class="btn btn-ion" href="{% url 'sites:image_mgmt:setup_command_create' %}"><i class="fas fa-plus"></i> Add setup command</a></p>
{% endblock %}
